<html>
<head>
    <style type="text/css">
        <!-- body {font-family: meiryo, arial; max-width: 80%; margin: 0 auto; } -->
        <!-- h1 {text-align: center; background: lime; } -->
    </style>
    <meta charset="UTF-8">
    <title>Spring Bootで作った掲示板</title>
</head>
<body>
<h1>Spring Bootで作った掲示板</h1>
<form th:action="@{/}" method="post">
    <input type="text" name="name" placeholder="name" required></br>
    <textarea name="text" rows="4" cols="50" maxlength="250" placeholder="message"></textarea></br>
    </br>
    <input type="submit" value="投稿">
</form>
<div th:each="list:${list}">
    <hr>
    <p th:text="|No: *{list.id} / Name: *{list.name} / Time: *{list.created_at}|"></p>
    <th:block th:each="line, stat : ${list.text.split('\r\n|\r|\n', -1)}">
        <th:block th:text="${line}"/>
        <br th:if="${!stat.last}"/>
    </th:block>
</div>
</body>
</html>
